In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:\ML\hospitalData.csv", nrows = 10)

In [4]:
df

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,Male,Andhra Pradesh,asymptomatic,145,233,True,False,150,0,2.3,0,0,1,Effected
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected
3,56,Male,Bihar,atypical angina,120,236,False,True,178,0,0.8,2,0,2,Effected
4,57,Female,Chhattisgarh,typical angina,120,354,False,True,163,1,0.6,2,0,2,Effected
5,57,Male,Karnataka,typical angina,140,192,False,True,148,0,0.4,1,0,1,Effected
6,56,Female,Punjab,atypical angina,140,294,False,False,153,0,1.3,1,0,2,Effected
7,44,Male,Haryana,atypical angina,120,263,False,True,173,0,0.0,2,0,3,Effected
8,52,Male,Himachal Pradesh,non-anginal pain,172,199,True,True,162,0,0.5,2,0,3,Effected
9,57,Male,Jharkhand,non-anginal pain,150,168,False,True,174,0,1.6,2,0,2,Effected

In [5]:
gr1 = df.groupby(by = 'fbs')

In [6]:
gr1.groups

{False: Int64Index([1, 2, 3, 4, 5, 6, 7, 9], dtype='int64'),
 True: Int64Index([0, 8], dtype='int64')}

In [7]:
gr2 = df.groupby(by = 'sex')
gr2.groups

{'Female': Int64Index([2, 4, 6], dtype='int64'),
 'Male': Int64Index([0, 1, 3, 5, 7, 8, 9], dtype='int64')}

In [8]:
df

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,Male,Andhra Pradesh,asymptomatic,145,233,True,False,150,0,2.3,0,0,1,Effected
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected
3,56,Male,Bihar,atypical angina,120,236,False,True,178,0,0.8,2,0,2,Effected
4,57,Female,Chhattisgarh,typical angina,120,354,False,True,163,1,0.6,2,0,2,Effected
5,57,Male,Karnataka,typical angina,140,192,False,True,148,0,0.4,1,0,1,Effected
6,56,Female,Punjab,atypical angina,140,294,False,False,153,0,1.3,1,0,2,Effected
7,44,Male,Haryana,atypical angina,120,263,False,True,173,0,0.0,2,0,3,Effected
8,52,Male,Himachal Pradesh,non-anginal pain,172,199,True,True,162,0,0.5,2,0,3,Effected
9,57,Male,Jharkhand,non-anginal pain,150,168,False,True,174,0,1.6,2,0,2,Effected

In [9]:
df.groupby(['sex','fbs']).groups

{('Female', False): Int64Index([2, 4, 6], dtype='int64'),
 ('Male', False): Int64Index([1, 3, 5, 7, 9], dtype='int64'),
 ('Male', True): Int64Index([0, 8], dtype='int64')}

In [10]:
df.groupby(['sex','restecg']).groups

{('Female', False): Int64Index([2, 6], dtype='int64'),
 ('Female', True): Int64Index([4], dtype='int64'),
 ('Male', False): Int64Index([0], dtype='int64'),
 ('Male', True): Int64Index([1, 3, 5, 7, 8, 9], dtype='int64')}

In [11]:
for sex, a in gr1:
    print(sex)
    print(a)

False
   age     sex           Province                cp  trestbps  chol    fbs  \
1   37    Male  Arunachal Pradesh  non-anginal pain       130   250  False
2   41  Female              Assam   atypical angina       130   204  False
3   56    Male              Bihar   atypical angina       120   236  False
4   57  Female       Chhattisgarh    typical angina       120   354  False
5   57    Male          Karnataka    typical angina       140   192  False
6   56  Female             Punjab   atypical angina       140   294  False
7   44    Male            Haryana   atypical angina       120   263  False
9   57    Male          Jharkhand  non-anginal pain       150   168  False

   restecg  thalach  exang  oldpeak  slope  ca  thal    target
1     True      187      0      3.5      0   0     2  Effected
2    False      172      0      1.4      2   0     2  Effected
3     True      178      0      0.8      2   0     2  Effected
4     True      163      1      0.6      2   0     2  Effected
5     True      148      0      0.4      1   0     1  Effected
6    False      153      0      1.3      1   0     2  Effected
7     True      173      0      0.0      2   0     3  Effected
9     True      174      0      1.6      2   0     2  Effected
True
   age   sex          Province                cp  trestbps  chol   fbs  \
0   63  Male    Andhra Pradesh      asymptomatic       145   233  True
8   52  Male  Himachal Pradesh  non-anginal pain       172   199  True

   restecg  thalach  exang  oldpeak  slope  ca  thal    target
0    False      150      0      2.3      0   0     1  Effected
8     True      162      0      0.5      2   0     3  Effected

In [12]:
list(gr1)

[(False,
     age     sex           Province                cp  trestbps  chol    fbs  \
  1   37    Male  Arunachal Pradesh  non-anginal pain       130   250  False
  2   41  Female              Assam   atypical angina       130   204  False
  3   56    Male              Bihar   atypical angina       120   236  False
  4   57  Female       Chhattisgarh    typical angina       120   354  False
  5   57    Male          Karnataka    typical angina       140   192  False
  6   56  Female             Punjab   atypical angina       140   294  False
  7   44    Male            Haryana   atypical angina       120   263  False
  9   57    Male          Jharkhand  non-anginal pain       150   168  False

     restecg  thalach  exang  oldpeak  slope  ca  thal    target
  1     True      187      0      3.5      0   0     2  Effected
  2    False      172      0      1.4      2   0     2  Effected
  3     True      178      0      0.8      2   0     2  Effected
  4     True      163      1      0.6      2   0     2  Effected
  5     True      148      0      0.4      1   0     1  Effected
  6    False      153      0      1.3      1   0     2  Effected
  7     True      173      0      0.0      2   0     3  Effected
  9     True      174      0      1.6      2   0     2  Effected  ),
 (True,
     age   sex          Province                cp  trestbps  chol   fbs  \
  0   63  Male    Andhra Pradesh      asymptomatic       145   233  True
  8   52  Male  Himachal Pradesh  non-anginal pain       172   199  True

     restecg  thalach  exang  oldpeak  slope  ca  thal    target
  0    False      150      0      2.3      0   0     1  Effected
  8     True      162      0      0.5      2   0     3  Effected  )]

In [13]:
gr2 = df.groupby('sex').get_group('Female')
gr2

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected
4,57,Female,Chhattisgarh,typical angina,120,354,False,True,163,1,0.6,2,0,2,Effected
6,56,Female,Punjab,atypical angina,140,294,False,False,153,0,1.3,1,0,2,Effected

In [54]:
list(gr2)

['age',
 'sex',
 'Province',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'target']

In [55]:
dict(gr2)

{'age': 2    41
 4    57
 6    56
 Name: age, dtype: int64,
 'sex': 2    Female
 4    Female
 6    Female
 Name: sex, dtype: object,
 'Province': 2           Assam
 4    Chhattisgarh
 6          Punjab
 Name: Province, dtype: object,
 'cp': 2    atypical angina
 4     typical angina
 6    atypical angina
 Name: cp, dtype: object,
 'trestbps': 2    130
 4    120
 6    140
 Name: trestbps, dtype: int64,
 'chol': 2    204
 4    354
 6    294
 Name: chol, dtype: int64,
 'fbs': 2    False
 4    False
 6    False
 Name: fbs, dtype: bool,
 'restecg': 2    False
 4     True
 6    False
 Name: restecg, dtype: bool,
 'thalach': 2    172
 4    163
 6    153
 Name: thalach, dtype: int64,
 'exang': 2    0
 4    1
 6    0
 Name: exang, dtype: int64,
 'oldpeak': 2    1.4
 4    0.6
 6    1.3
 Name: oldpeak, dtype: float64,
 'slope': 2    2
 4    2
 6    1
 Name: slope, dtype: int64,
 'ca': 2    0
 4    0
 6    0
 Name: ca, dtype: int64,
 'thal': 2    2
 4    2
 6    2
 Name: thal, dtype: int64,
 'target': 2    Effected
 4    Effected
 6    Effected
 Name: target, dtype: object}

In [39]:
gr3 = df.groupby('fbs').get_group(True)
gr3

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected
3,56,Male,Bihar,atypical angina,120,236,False,True,178,0,0.8,2,0,2,Effected
4,57,Female,Chhattisgarh,typical angina,120,354,False,True,163,1,0.6,2,0,2,Effected
5,57,Male,Karnataka,typical angina,140,192,False,True,148,0,0.4,1,0,1,Effected
6,56,Female,Punjab,atypical angina,140,294,False,False,153,0,1.3,1,0,2,Effected
7,44,Male,Haryana,atypical angina,120,263,False,True,173,0,0.0,2,0,3,Effected
9,57,Male,Jharkhand,non-anginal pain,150,168,False,True,174,0,1.6,2,0,2,Effected

In [37]:
df

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,Male,Andhra Pradesh,asymptomatic,145,233,True,False,150,0,2.3,0,0,1,Effected
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected
3,56,Male,Bihar,atypical angina,120,236,False,True,178,0,0.8,2,0,2,Effected
4,57,Female,Chhattisgarh,typical angina,120,354,False,True,163,1,0.6,2,0,2,Effected
5,57,Male,Karnataka,typical angina,140,192,False,True,148,0,0.4,1,0,1,Effected
6,56,Female,Punjab,atypical angina,140,294,False,False,153,0,1.3,1,0,2,Effected
7,44,Male,Haryana,atypical angina,120,263,False,True,173,0,0.0,2,0,3,Effected
8,52,Male,Himachal Pradesh,non-anginal pain,172,199,True,True,162,0,0.5,2,0,3,Effected
9,57,Male,Jharkhand,non-anginal pain,150,168,False,True,174,0,1.6,2,0,2,Effected

In [40]:
gr3 = df.groupby('fbs').get_group(False)
gr3

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected
3,56,Male,Bihar,atypical angina,120,236,False,True,178,0,0.8,2,0,2,Effected
4,57,Female,Chhattisgarh,typical angina,120,354,False,True,163,1,0.6,2,0,2,Effected
5,57,Male,Karnataka,typical angina,140,192,False,True,148,0,0.4,1,0,1,Effected
6,56,Female,Punjab,atypical angina,140,294,False,False,153,0,1.3,1,0,2,Effected
7,44,Male,Haryana,atypical angina,120,263,False,True,173,0,0.0,2,0,3,Effected
9,57,Male,Jharkhand,non-anginal pain,150,168,False,True,174,0,1.6,2,0,2,Effected

In [43]:
gr3 = df.groupby('trestbps').get_group(130)
gr3

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected

In [45]:
gr1.mean()

,age,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
sex,,,,,,,,,,,
Female,51.333333,130.000000,284.000000,0.000000,0.333333,162.666667,0.333333,1.1,1.666667,0.0,2.0
Male,52.285714,139.571429,220.142857,0.285714,0.857143,167.428571,0.000000,1.3,1.285714,0.0,2.0

In [48]:
gr1

In [49]:
gr1.describe()

         age                                                    trestbps  \
       count       mean       std   min   25%   50%   75%   max    count
sex
Female   3.0  51.333333  8.962886  41.0  48.5  56.0  56.5  57.0      3.0
Male     7.0  52.285714  8.901578  37.0  48.0  56.0  57.0  63.0      7.0

                    ...   ca       thal                                     \
              mean  ...  75%  max count mean       std  min  25%  50%  75%
sex                 ...
Female  130.000000  ...  0.0  0.0   3.0  2.0  0.000000  2.0  2.0  2.0  2.0
Male    139.571429  ...  0.0  0.0   7.0  2.0  0.816497  1.0  1.5  2.0  2.5


        max
sex
Female  2.0
Male    3.0

[2 rows x 72 columns]

In [50]:
gr3

,age,sex,Province,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,37,Male,Arunachal Pradesh,non-anginal pain,130,250,False,True,187,0,3.5,0,0,2,Effected
2,41,Female,Assam,atypical angina,130,204,False,False,172,0,1.4,2,0,2,Effected

In [51]:
gr1.agg(['sum','max'])

        age                                               Province             \
        sum max                                                sum        max
sex
Female  154  57                            AssamChhattisgarhPunjab     Punjab
Male    366  63  Andhra PradeshArunachal PradeshBiharKarnatakaH...  Karnataka

                                                       cp                  \
                                                      sum             max
sex
Female       atypical anginatypical anginaatypical angina  typical angina
Male    asymptomaticnon-anginal painatypical anginatyp...  typical angina

       trestbps       chol       ... oldpeak      slope      ca     thal      \
            sum  max   sum  max  ...     sum  max   sum max sum max  sum max
sex                              ...
Female      390  140   852  354  ...     3.3  1.4     5   2   0   0    6   2
Male        977  172  1541  263  ...     9.1  3.5     9   2   0   0   14   3

                                                   target
                                                      sum       max
sex
Female                           EffectedEffectedEffected  Effected
Male    EffectedEffectedEffectedEffectedEffectedEffect...  Effected

[2 rows x 28 columns]

In [52]:
gr1.agg(['sum','max','mean'])

        age                trestbps                   chol                   \
        sum max       mean      sum  max        mean   sum  max        mean
sex
Female  154  57  51.333333      390  140  130.000000   852  354  284.000000
Male    366  63  52.285714      977  172  139.571429  1541  263  220.142857

        fbs  ... oldpeak slope                ca          thal
        sum  ...    mean   sum max      mean sum max mean  sum max mean
sex          ...
Female  0.0  ...     1.1     5   2  1.666667   0   0    0    6   2    2
Male    2.0  ...     1.3     9   2  1.285714   0   0    0   14   3    2

[2 rows x 33 columns]